<template>
  <div class="mb-4 bg-gray-300 p-4 text-sm rounded leading-normal">
    Retrieve the data from the GET endpoint
    <br />Show a compact list of customers (in the JSON under the "customers" key)
    <br />Let the user select a customer for editing, which shows a form with name, email, channel (value may be one of 'website', 'email', 'phone', 'word-of-mouth', 'other'), address, postal, city, province
    <br />All fields are required. Empty values should present an error message if submitted.
    <br />On form submit, log the JSON payload to console (no need to mock out server calls!)
  </div>
</template>


<script>
export default {
  name: 'InstructionsBlurb'
}
</script>